<!-- Use the file tool_data_table_conf.xml.oldlocstyle if you don't want to update your loc files as changed in revision 4550:535d276c92bc-->
<tables>
    <!-- Location of all GFF/GTF files -->
    <table name="gene_sets" comment_char="#">
        <columns>name, dbkey, value, provider, reference</columns>
        <file path="tool-data/gene_sets.loc" />
    </table>
</tables>